.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.wpdfv-fullscreen-btn {
	cursor: pointer;
}
